# Django Settings
SECRET_KEY=django-insecure-=6z01d@l62utez2f%=+2*hdf$z*35n@=1d%xhk*3r_72(9a^+w
DEBUG=True

# Cloudflare R2 / S3 Settings
USE_S3=True
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_STORAGE_BUCKET_NAME=your_bucket_name
AWS_S3_ENDPOINT_URL=https://<account_id>.r2.cloudflarestorage.com

# Celery Settings
CELERY_BROKER_URL=memory://
CELERY_RESULT_BACKEND=cache+memory://
